.form{
	display: flex;
	justify-content: center;
	align-items: center;
	position: center;
}

.delete{
	float: right;
	color: red;
}

.articles{
	margin-left: 5%;
	margin-right: 5%;
}

.add{
	position: fixed;
	bottom: 25px;
	right: 15px;
}

h2{
	text-align: center;
	color : blue;
}