.form{
	display: flex;
	justify-content: center;
	align-items: center;
	position: center;
}

.delete{
	float: right;
	color: red;
}

.articles{
	margin-left: 5%;
	margin-right: 5%;
}


h2{
	text-align: center;
	color : blue;
}