{% extends 'base.html.twig' %}


{% block body %}
<h1 class="form_title blog">SmallLibraryBlog</h1>
<div class="about">
  <p>
    This blog as been created by Bérénice Lemoine et Clément Manniez for the subject "HMIN302 E-application".<br>
    We are both student at the science faculty of the University of Montpellier.<br>
    We're in the second year of AIGLE master's degree, it is basically Software Engineerin.<br>
  </p>
</div>

{% endblock %}