<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                
        <title>{% block title %}SmallLibraryBlog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
       <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">SmallLibraryBlog</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="active"><a href="/othersblog">Others blog articles</a></li>
              <li class="active"><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>  Log out</a></li>
            {% else %}
              <li><a href="/adduser"><span class="glyphicon glyphicon-user"></span>  Sign in</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>    Log in</a></li>     
            {% endif %}
            </ul>
          </div>
        </nav> 
      <!--style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
      .w3-bar-block .w3-bar-item {padding:20px}
      </style-->
      <div class="body">
        {% if app.user %}
            <a href="/addarticle" class="add">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}        
      </div>
        
    </body>
</html>
