{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="form_title blog">Small Library Blog : </h1>
  <h3 class="form_title subtitle">Articles fetched from Chailly-Dejesusmartins's Blog </h3>
  
  <div class="articles">
  {% for article in articles %}
  <div class="w3-card-4 w3-margin w3-white">

    <div class="w3-container">

      <h3><b>{{ article.title }}</b>
      </h3>
      <h5>Published <span class="w3-opacity">{{ article.published }}</span></h5>
      <h5>Author <span class="w3-opacity">{{ article.author.username }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ article.content | raw}}</p>
    </div>
  </div>
  {% endfor %}
  </div>

{% endblock %}
